# Encoding=UTF-8
# Tips=Please Open This File by Encoding Type &Encoding in the First Line.
################################################################################
#                       @Brief:  User Interface Design                         #
################################################################################

[default]




[MainFrame]
Name=MainFrame
Title=哔哔鹦
Type=MainFrame
Icon=
Position=20x20
Size=800x600
Layer=0

